*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: monospace;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, rgb(132, 187, 200), rgb(212, 123, 186));
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid>button {
    cursor: pointer;
    outline: none;
    font-size: 2rem;
    border: 1px solid white;
    background: rgba(153, 202, 224, 0.274);
}

.calculator-grid>button:hover {
    background: rgba(236, 240, 241, 0.767);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1/ -1;
}